        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat';
        }

        html {
            scroll-behavior: smooth;
        }

        /* *********************/
        /* seccion I N I C I O */
        /* *********************/

        #inicio {
            background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("img/fondo-inicio.jpg");
            background-size: cover;
            background-position: center center;
            height: 100vh;
        }

        #inicio .contenido header {
            background-color: rgba(0, 0, 0, .8);
            position: fixed;
            width: 100%;
            z-index: 100;
            top: 0;
        }

        #inicio .contenido header .contenido-header {
            max-width: 1100px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }

        #inicio .contenido header .contenido-header h1 {
            text-align: center;
            color: #AF7AC5;
        }

        #inicio .contenido header .contenido-header nav ul {
            list-style: none;
            display: flex;
            align-items: center;
        }

        #inicio .contenido header .contenido-header nav ul li a {
            text-decoration: none;
            color: #fff;
            margin: 0 12px;
            font-weight: 400;
            transition: .5s;
        }

        #inicio .contenido header .contenido-header nav ul li a:hover {
            color: #AF7AC5;
        }

        #inicio .contenido header .contenido-header .redes a {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            margin-left: 10px;
            transition: .5s;
        }

        #inicio .contenido header .contenido-header .redes a:hover {
            color: #AF7AC5;
        }

        #inicio .contenido header .contenido-header .seleccionado {
            color: #AF7AC5;
        }

        #inicio .contenido .presentacion {
            max-width: 1100px;
            height: 100vh;
            margin: auto;
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        #inicio .contenido .presentacion .bienvenida {
            font-size: 16px;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 5px;
        }

        #inicio .contenido .presentacion h2 {
            font-size: 55px;
            margin-bottom: 25px;
            text-align: center;
        }

        #inicio .contenido .presentacion h2 span {
            font-size: 25px;
            color: #AF7AC5;
        }

        #inicio .contenido .presentacion .descripcion {
            max-width: 700px;
            margin: 25px auto;
            font-size: 18px;
            text-align: center;
        }

        #inicio .contenido .presentacion a {
            text-decoration: none;
            display: inline-block;
            margin: 25px;
            padding: 20px 25px;
            border: 2px solid #fff;
            border-radius: 50px;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            transition: .5s;
        }

        #inicio .contenido .presentacion a:hover {
            background-color: #AF7AC5;
        }

        #icono-nav {
            color: #fff;
            display: none;
        }

        /* *********************/
        /* seccion S O B R E  M I */
        /* *********************/

        #sobremi {
            max-width: 1100px;
            margin: auto;
            padding: 100px 15px;
            color: #111135;
            display: flex;
        }

        #sobremi .contenedor-foto {
            max-width: 350px;
            margin-right: 80px;

        }

        #sobremi .contenedor-foto img {
            padding: 20px;
            width: 100%;
            border-radius: 20px;
            background-color: #f3f3f3;
        }

        #sobremi .sobremi {
            margin: 0 40px;
            border-radius: 30px;
            width: 800px;
            height: 590px;
            background-color: #efe8d8;

        }

        #sobremi .sobremi .titulo-seccion {
            margin-top: 20px;
            margin-left: 20px;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #e5ada8;
            text-decoration-thickness: 5px;
        }

        #sobremi .sobremi h2 {
            margin-left: 20px;
            font-size: 34px;
            font-weight: bold;
          
            letter-spacing: 2px;
        }

        #sobremi .sobremi h2 span {
            color: #e5ada8;

        }

        #sobremi .sobremi h3 {
            margin-left: 20px;
            margin-top: 20px;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }

        #sobremi .sobremi p {
            margin-left: 20px;
            margin-right: 20px;
            font-size: 14px;
            line-height: 25px;
            color: #000000;
            margin-bottom: 12px;
        }

        #sobremi .sobremi a {
            margin-left: 20px;
            display: inline-block;
            text-decoration: none;
            color: #000;
            border-radius: 30px;
            border: 1px solid #000;
            padding: 10px 20px;
            margin-top: 30px;
            transition: .5s;
        }

        #sobremi .sobremi a:hover {
            background-color: #e5ada8;
            color: #000000;
        }

        /* *********************/
        /* seccion S E R V I C I O S */
        /* *********************/

        #valores {
            padding: 100px 15px;
            text-align: center;
            background-color: #efe8d8;
            border-top: solid 2px black;
        }

        #valores .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #e5ada8;
            text-decoration-thickness: 5px;
        }

        #valores .fila {
            display: flex;
            justify-content: space-between;
            max-width: 1150px;
            margin: 30px auto;
        }

        #valores .fila .servicio {
            max-width: 350px;
            background-color: #fce2e1;
            padding: 30px;
            margin: 0 5px;
            border-radius: 30px;
            border: 2px solid black;
            transition: .5s;
        }

        #valores .fila .servicio:hover {
            box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
        }

        #valores .fila .servicio .icono {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #d3d3d3;
            padding: 20px;
            margin-bottom: 25px;
        }

        #valores .fila .servicio h4 {
            font-size: 22px;
            margin-bottom: 25px;
        }

        #valores .fila .servicio hr {
            width: 80%;
            height: 3px;
            margin: auto;
            color: #000;
            margin-bottom: 25px;
        }

        #valores .fila .servicio ul {
            text-align: start;
            justify-content: start;
            margin-bottom: 10px;
        }

        #valores .fila .servicio p {
            font-size: 14px;
            line-height: 22px;
        }
         /* *********************/
        /* seccion D O F A*/
        /* *********************/

        #dofa{
            padding: 100px 15px;
            text-align: center;
            background-color: #FDEDEC;
            border-top: solid 2px black;
        }
        #dofa .titulo-seccion{
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #AF7AC5;
            text-decoration-thickness: 5px;
        }
        #dofa .contenedor-foto {
            margin-top: 25px;
            text-align: center; /* Centrar horizontalmente */

          }
          
          #dofa .contenedor-foto img {
            display: inline-block; /* Hacer que la imagen se comporte como un bloque en línea */
            border: solid 5px #AF7AC5 ;
            border-radius: 40px;
          }
          

        /* *********************/
        /* seccion S K I L L S */
        /* *********************/

        .contenedor-skills {
            background: linear-gradient(#fff89ca2, rgba(248, 238, 144, 0.233)), url("img/fondo-skills.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            color: #000000;
            background-position: center center;
            padding: 100px 0;
            text-align: center;
            border-top: solid 2px black;
        }
        .contenedor-skills .titulo-seccion{
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #e5ada8;
            text-decoration-thickness: 5px;
        }

        .contenedor-skills .skill {
            max-width: 600px;
            margin: 30px auto;
        }
        .contenedor-skills .propuesta {
            margin-top: 25px;
            margin-left: 20px;
            margin-right: 20px;
            font-family: Arial, sans-serif; /* Cambia la fuente del texto */
            font-size: 18px; /* Tamaño del texto */
            color: #333; /* Color del texto */
            line-height: 1.6; /* Altura de línea */
            text-align: center; /* Alineación del texto al centro */
            padding: 20px; /* Espaciado interior */
            border: 2px solid #ccccccc7; /* Borde alrededor del texto */
            border-radius: 10px; /* Borde redondeado */
            background-color: #f8f8f880; /* Color de fondo */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
          }
                   /* *********************/
        /* seccion O P I N I O N E S*/
        /* *********************/

        #opiniones{
            padding: 100px 15px;
            text-align: center;
            background-color: #ffffff;
            border-top: solid 2px black;
        }
        #opiniones .titulo-seccion{
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #e5ada8;
            text-decoration-thickness: 5px;
        }
        #opiniones .contenedor-foto {
            margin-top: 25px;
            text-align: center; /* Centrar horizontalmente */

          }
          
          #opiniones .contenedor-foto img {
            display: inline-block; /* Hacer que la imagen se comporte como un bloque en línea */
            border: solid 5px #e5ada8 ;
            border-radius: 40px;
          }
        /* *********************/
        /* seccion P U B L I C O*/
        /* *********************/

        #publico{
            padding: 100px 15px;
            text-align: center;
            background-color: #EBF5FB;
            border-top: solid 2px black;
        }
        #publico .titulo-seccion{
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #AED6F1;
            text-decoration-thickness: 5px;
        }
        #publico .contenedor-foto {
            margin-top: 25px;
            text-align: center; /* Centrar horizontalmente */

          }
          
          #publico .contenedor-foto img {
            display: inline-block; /* Hacer que la imagen se comporte como un bloque en línea */
            border: solid 5px #AED6F1 ;
            border-radius: 40px;
          }

        /* *********************/
        /* seccion L O G O*/
        /* *********************/

        #logo {
            background-color: #FDEBD0;
            color: #111135;
            display: flex;
            margin-top: 20px;
            align-items: center;
            justify-content: center; /* Alinea horizontalmente las fotos en el centro */
        }
        .contenedor-logo{
            border-top: solid 2px black;
            background-color: #FDEBD0;
        }
        .titulo-seccion {
            
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #F5CBA7;
            text-decoration-thickness: 5px;
        }
        
        #logo .contenedor-foto {
            max-width: 350px;
            margin-right: 80px;
            margin-top: 20px;
            display: flex;
            flex-direction: column; /* Apila las fotos verticalmente */
            align-items: center; /* Alinea las fotos en el centro verticalmente */
        }
        
        #logo .contenedor-foto img {
            width: 100%;
            border-radius: 20px;
            background-color: #f3f3f3;
            margin-top: 20px;
            margin-bottom: 30px;
        }
        
        #logo .logo {
            border-radius: 30px;
            margin-top: 40px;
            margin-bottom: 50px;
        }

        /* *********************/
        /* seccion P U B L I C O*/
        /* *********************/

        #visual{
            padding: 100px 15px;
            text-align: center;
            background-color: #EBDEF0 ;
            border-top: solid 2px black;
        }
        #visual .titulo-seccion{
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #D7BDE2 ;
            text-decoration-thickness: 5px;
        }
        #visual .contenedor-foto {
            margin-top: 25px;
            text-align: center; /* Centrar horizontalmente */

          }
          
          #visual .contenedor-foto img {
            display: inline-block; /* Hacer que la imagen se comporte como un bloque en línea */
            border: solid 5px #D7BDE2  ;
            border-radius: 40px;
          }
          .contenedor-objetivos {
            background: linear-gradient(#fff89ca2, rgba(248, 238, 144, 0.233)), url("img/fondo-acciones.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            color: #000000;
            background-position: center center;
            padding: 100px 0;
            text-align: center;
            border-top: solid 2px black;
        }
        .contenedor-objetivos .titulo-seccion{
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #e5ada8;
            text-decoration-thickness: 5px;
        }

        .contenedor-objetivos .objetivos {
            max-width: 600px;
            margin: 30px auto;
        }
        .contenedor-objetivos .objetivo {
            margin-top: 25px;
            margin-left: 20px;
            margin-right: 20px;
            font-family: Arial, sans-serif; /* Cambia la fuente del texto */
            font-size: 18px; /* Tamaño del texto */
            color: #333; /* Color del texto */
            line-height: 1.6; /* Altura de línea */
            text-align: center; /* Alineación del texto al centro */
            padding: 20px; /* Espaciado interior */
            border: 2px solid #ccccccc7; /* Borde alrededor del texto */
            border-radius: 10px; /* Borde redondeado */
            background-color: #f8f8f880; /* Color de fondo */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
          }
          .contenedor-objetivos .conclucion {
            margin-top: 25px;
            margin-left: 120px;
            margin-right: 120px;
            font-family: Arial, sans-serif; /* Cambia la fuente del texto */
            font-size: 18px; /* Tamaño del texto */
            color: #333; /* Color del texto */
            line-height: 1.6; /* Altura de línea */
            text-align: center; /* Alineación del texto al centro */
            padding: 20px; /* Espaciado interior */
            border: 2px solid #ccccccc7; /* Borde alrededor del texto */
            border-radius: 10px; /* Borde redondeado */
            background-color: #f8f8f880; /* Color de fondo */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
          }
        
        



        @keyframes progreso1 {
            0% {
                width: 0;
            }

            100% {
                width: 95%;
            }
        }

        @keyframes progreso2 {
            0% {
                width: 0;
            }

            100% {
                width: 90%;
            }
        }

        @keyframes progreso3 {
            0% {
                width: 0;
            }

            100% {
                width: 90%;
            }
        }

        @keyframes progreso4 {
            0% {
                width: 0;
            }

            100% {
                width: 85%;
            }
        }

        /* *********************/
        /* seccion P O R T F O L I O */
        /* *********************/

        #mapa-sueños {
            max-width: 1100px;
            padding: 100px 0;
            margin: auto;
        }

        #mapa-sueños .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #e5ada8;
            text-decoration-thickness: 5px;
        }

        #mapa-sueños .fila {
            display: flex;
            justify-content: space-between;
            margin: 32px 0;
        }

        #mapa-sueños .fila .proyecto {
            max-width: 450px;
            border-radius: 20px;
            margin: 0 5px;
            position: relative;
            overflow: hidden;
        }

        #mapa-sueños .fila .proyecto img {
            width: 340px;
            height: 200px;
            border: 3px solid #000;
            border-radius: 20px;
            filter: grayscale(1);
            object-fit: cover;
            transition: .5s;
        }

        #mapa-sueños .fila .proyecto:hover img {
            filter: grayscale(0);
        }

        #mapa-sueños .fila .proyecto .info {
            position: absolute;
            left: 0px;
            background-color: rgba(0, 0, 0, 0.8);
            color: #AF7AC5;
            width: 100%;
            padding: 10px;
            opacity: 0;
            bottom: -40px;
            transition: .5s;
        }

        #mapa-sueños .fila .proyecto:hover .info {
            opacity: 1;
            bottom: 0;
        }

        /* *********************/
        /* seccion C O N T A C T O */
        /* *********************/

        #contacto {
            padding: 100px 15px;
            background-color: #fff5f4;
        }

        #contacto .titulo-seccion {
            margin-bottom: 20px;
        }

        #contacto .contenedor-form {
            max-width: 1100px;
            margin: auto;
        }

        #contacto .contenedor-form .fila {
            margin-bottom: 15px;
        }

        #contacto .contenedor-form .mitad {
            display: flex;
            justify-content: space-between;
        }

        #contacto .contenedor-form input,
        #contacto .contenedor-form textarea {
            padding: 20px;
            border-radius: 20px;
            border: none;
            border: 1px solid #000000;
        }

        #contacto .contenedor-form .mitad input {
            width: 48%;
        }

        #contacto .contenedor-form .input-full {
            width: 100%;
        }

        #contacto .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #111135;
            text-decoration: underline;
            text-decoration-color: #e5ada8;
            text-decoration-thickness: 5px;
        }

        #contacto .btn-enviar {
            display: block;
            margin: auto;
            cursor: pointer;
            transition: .5s;
            padding: 10px 15px !important;
        }

        #contacto .btn-enviar:hover {
            background-color: #AF7AC5;
            color: #fff;
        }

        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
        }

        .modal-content {
            border-radius: 25px;
            background-color: #fefefe;
            margin: 20% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .close {
            color: #e5ada8;
            float: right;
            font-size: 35px;
            font-weight: bold;
            align-items: center;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        /* *********************/
        /* seccion F O O T E R */
        /* *********************/

        footer {
            background-color: #000;
            color: #fff;
            text-align: center;
            padding: 30px 0;
        }

        footer a {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            margin: 5px;
            font-size: 26px;
        }

        /* *********************/
        /* seccion R E S P O N S I V E */
        /* *********************/

        @media screen and (max-width: 800px) {
            .redes {
                display: none;
            }

            nav {
                display: none;
            }

            nav.responsive {
                display: block;
                background-color: rgba(0, 0, 0, .8);
                width: 100%;
                position: absolute;
                top: 48px;
                left: 0;
                padding: 10px 0;
            }

            nav.responsive ul {
                display: block !important;
                text-align: center;
            }

            nav.responsive ul li {
                margin: 5px 0;
            }

            #icono-nav {
                display: block;
            }

            #inicio .contenido .presentacion h2 {
                font-size: 40px;
            }

            /* seccion SOBRE MI */
            #sobremi {
                padding: 50px 0;
                display: block;
            }

            #sobremi .contenedor-foto {
                max-width: 200px;
                margin: auto;
            }

            #sobremi .contenedor-foto img {
                padding: 8px;
            }

            #sobremi .sobremi .titulo-seccion {
                text-align: center;
            }

            #sobremi .sobremi h2 {
                font-size: 25px;
                text-align: center;
            }

            /* seccion MIS valores */
            #valores {
                padding: 50px 15px;
            }

            #valores .fila {
                display: block;
            }

            #valores .fila .servicio {
                margin: 10px auto;
            }

            /* seccion HABLIDADES MI */
            .contenedor-skills {
                padding: 50px 20px;
            }

            /* seccion mapa-sueños */
            #mapa-sueños {
                padding: 50px 0;
                text-align: center;
            }

            #mapa-sueños .fila {
                display: block;
                text-align: center;
            }

            #mapa-sueños .fila .proyecto {
                margin: 10px auto;
                
            }

            /* seccion CONTACTO */
            #contacto {
                padding: 50px 15px;
            }

            #contacto .contenedor-form .mitad {
                margin-bottom: 15px;
                display: block;
            }

            #contacto .contenedor-form .mitad input {
                width: 100%;
                margin-bottom: 15px;
            }
        }